<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>C.D. Home</title>
</head>
<body>
    
    <section class="header">
        <header class="header">
            <div class="img">
                <img src="static/candy-poster.png" alt="logo">
            </div>
            <h1>__Choco Dealer__</h1>
            <div class="main_text">Choco Dealer. <br>Only INSANE SWEETS</div>
            <ul style="display:flex; padding-top: 20%;">
                <li>Главная</li>
                <li>Новости</li>
                <li>Про нас</li>
                <li>Купить Крипту</li>
            </ul>
        </header>
    </section>
    
    
    <section class="download_wrap">
        <div class="download">
            <p>Работаем 24/7</p>
            <h1>Надежные клады</h1>
            <h2>Сильные конфеты</h2>
        </div>
        <div class="btn_block">
            <a href="#" class="btn"></a>
            <a href="#" class="btn"></a>
        </div>
    </section>
    
</body>
</html>