body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header {
    background-color: rgb(10, 226, 176);
    padding: 20px;
    text-align: center;
    margin-bottom: -15px;
}
.header img {
    display: grid;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    align-content: flex-start;
}
.header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    font-family: monospace;
    font-size:xx-large;
    font-weight: 900;
}
.fit-picture {
    width: 250px;
}
.main_text {
    height: max-content; 
    font-size: large; 
    font-family: monospace;
    font: bolder;
}